@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

.contact {
  max-width: 85%;
  margin: 0 auto;
  justify-content: center;
}

.contact-title-div {
  padding: 5rem 0 2rem 0;
}

.contact-title {
  font-size: clamp(2rem, 4vw + 0.5rem, 3.375rem);
  font-family: "Source Sans Pro", sans-serif;
  width: 11.5ch;
  animation: typing 1.25s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media (max-width: 450px) {
  .contact-social-div {
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .contact-social {
    margin: 0;
  }
}

.contact-social-div {
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 25rem;
}

.contact-social {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  margin: 3rem;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border-radius: 50%;
  transition: transform 300ms ease-in-out;
  opacity: 0.85;
}
  
.contact-social:hover {
  transform: scale(1.05);
  opacity: 1;
}
  
.contact-social a > img {
  max-width: 65%;
}