@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

.get-involved {
  max-width: 85%;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 5rem;
}

.get-involved-calendar-title {
  font-size: clamp(2rem, 4vw + 0.5rem, 3.375rem);
  font-weight: 400;
  padding: 2rem 0;
  text-align: center;
}

.get-involved-calendar-div {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.get-involved-calendar {
  margin: 0 auto;
  justify-content: center;
  width: 95%;
  position: relative;
  padding-bottom: 65%;
  overflow: hidden;
}

.get-involved-calendar .calendar {
  position: absolute;
  width: 100%;
  height: 100%;
}
  
@media all and (min-width: 769px) {
  .deskContent {
    display:block;
  }
  .phoneContent {
    display:none;
  }
}
  
@media all and (max-width: 768px) {
  .deskContent {
    display:none;
  }

  .get-involved-calendar {
    padding-bottom: 100%;
  }

  .phoneContent {
    display:block;
  }
}