@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* Main */

.main-title {
  font-size: clamp(2.5rem, 5vw + 1rem, 6rem);
  font-weight: 500;
  text-align: center;
  padding-top: 4rem;
}

.main-subtitle {
  font-size: clamp(0.75rem, 3vw + 0.5rem, 1.75rem);
  font-weight: 300;
  text-align: center;
  padding-top: 1.25rem;
}

/* Main */

/* Slider */

.slider-container {
  padding: 3rem 1rem;
}

.slider-wrapper {
  position: relative;
  max-width: 64rem;
  margin: 0 auto;
  transition: transform 300ms ease-in-out;
}

.slider-wrapper:hover {
  transform: scale(1.01);
}

.slider {
  aspect-ratio:  16 / 9;
  overflow-x: auto;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
  width: 100%;
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(29, 67, 121, 1);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/* Slider */

/* Upcoming Events */

.upcoming-events {
  margin: 0 auto;
  justify-content: center;
  padding: 5rem;
  max-width: 95%;
}

.upcoming-events-left {
  padding: 6rem 1rem 0 1rem;
}

.upcoming-title {
  font-size: clamp(2rem, 1vw + 0.25rem, 4rem);
  font-weight: 300;
  text-align: left;
  max-width: 250px;
  padding-bottom: 2rem;
}

.upcoming-button {
  color: #fff;
  font-size: clamp(1rem, 1vw + 0.25rem, 2.25rem);
  font-weight: 300;
  background-color: rgba(29, 67, 121, 1);
  padding: 0.75rem 2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  
}

.upcoming-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.upcoming-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.upcoming-button:hover span {
  padding-right: 25px;
}

.upcoming-button:hover span:after {
  opacity: 1;
  right: 0;
}

.upcoming-event {
  padding: 0 1vw;
}

.upcoming-event-img {
  object-fit: cover;
  max-width: 315px;
  max-height: 300px;
}

.upcoming-event-name {
  font-size: clamp(1.25rem, 1vw + 0.25rem, 1.5rem);
  font-weight: 300;
  line-height: 1.5rem;
  padding-left: 0.15rem;
}

.upcoming-event-date {
  font-size: clamp(1rem, 1vw + 0.25rem, 1.25rem);
  font-weight: 200;
  padding-left: 0.15rem;
}

@media (max-width: 1080px) {
  .upcoming-events {
    flex-direction: column;
    padding: 2rem;
  }

  .upcoming-events-left {
    text-align: center;
    padding: 0 0 1rem 0;
  }

  .upcoming-title {
    padding-bottom: 1rem;
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  .upcoming-events-right {
    flex-direction: column;
  }

  .upcoming-event {
    text-align: center;
    padding: 1rem 0;
  }
}

/* Upcoming Events */