@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: #EAEED3;
}

@media (min-width: 1200px) {
  body {
    background-color: #EAEED3;
    background-image: url('../img/graphics/spring-camp-graphic.png');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right -90px top 110px;
  }
}

.primary-header {
  background-color: #EAEED3;
  border-bottom: 2px solid #343434;
}

.logo {
  filter: grayscale(90%);
}

@media (max-width: 1050px) {
  .primary-navigation {
    background: #A9B796;
  }
}

.primary-navigation a {
  color: #343434;
}

.active, .social-list a {
  color: #343434;
}

.spring-camp {
  max-width: 85%;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  padding-top: 7.5rem;
}

.spring-camp-heading {
  color: #343434;
  max-width: 750px;
}

.spring-camp-title-intro {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 2.5rem;
}

.spring-camp-title {
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 6.5rem;
  padding-bottom: 2rem;
}

.spring-camp-subtitle-div {
  align-items: center;
  margin-bottom: 2rem;
} 

.spring-camp-subtitle {
  font-size: 3.8rem;
  font-weight: 300;
}

.spring-camp-subtitle-1 {
  font-size: 2rem;
  font-weight: 200;
  padding: 0 1rem 0.5rem 1rem;
}

.spring-camp-button {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding: 1.25rem 2.5rem 1.15rem 2.5rem;
  border: none;
  border-radius: 0.75rem;
  background-color: #C7B9EB;
  transition: 0.3s;
  color: #343434;
}

.tourney-button {
  font-size: 1.21rem;
  font-weight: 400;
  padding: 1.25rem 1.15rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #D0D7BD;
  transition: 0.3s;
  color: #343434;
}

.brothers {
  margin-right: 0.75rem;
}

.spring-camp-button:active, .tourney-button:active {
  transform: scale(0.96);
}

.spring-camp-button a, .tourney-button {
  color: #343434;
}

.spring-camp-button:hover {
  background-color: #b9a7e6;
}

.tourney-button:hover {
  background-color: #A9B796;
}

.spring-camp-date-div {
  padding-top: 3rem;
  align-items: center;
}

.spring-camp-date-square {
  background-color: #A9B796;
  width: 30px;
  height: 30px;
}

.spring-camp-date {
  font-size: 2rem;
  font-weight: 200;
  padding-top: 0.4rem;
  padding-left: 3rem;
}

@media (max-width: 1200px) and (min-width: 701px) {

  .spring-camp-title-intro {
    font-size: 1.25rem;
  }

  .spring-camp-title {
    line-height: 6rem;
  }

  .spring-camp-subtitle {
    font-size: 3.8rem;
  }

  .spring-camp-subtitle-1 {
    font-size: 2rem;
  }
}

@media (max-width: 700px ) {

  .spring-camp {
    max-width: 90%;
    height: 75vh;
    margin: 0 auto;
    justify-content: center;
    padding-top: 5rem;
  }

  .spring-camp-title-intro {
    font-size: 0.83rem;
    padding-bottom: 1.5rem;
  }

  .spring-camp-title {
    font-size: 3.5rem;
    line-height: 3rem;
    padding-bottom: 1.5rem;
  }

  .spring-camp-subtitle {
    font-size: 2rem;
  }

  .spring-camp-subtitle-1 {
    font-size: 1.7rem;
  }

  .spring-camp-button, .tourney-button {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1rem;
  }

  .spring-camp-date-div {
    padding-top: 1rem;
  }

  .spring-camp-date-square {
    width: 20px;
    height: 20px;
  }

  .spring-camp-date {
    font-size: 1.5rem;
    padding-left: 1rem;
  }

}

.speakers {
  max-width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.speakers-title {
  font-size: 1.75rem;
  font-weight: 300;
  padding: 3rem 0 0 3rem;
}

.speakers-div {
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.speaker-box {
  margin: 0 2rem;
  padding: 2rem 0;
}

.speaker-img {
  width: 250px;
  object-fit: contain;
  border-radius: 0.5rem;
  transition: transform 300ms ease-in-out;
}

.purple {
  box-shadow: -20px -20px 0px 1px #C7B9EB;
}

.green {
  box-shadow: -20px -20px 0px 1px #A9B796;
}

.speaker-img:hover {
  transform: scale(1.03);
}

.speaker-name {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem 0 1rem 0;
}

.speaker-title {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.75rem;
  max-width: 250px;
}

@media only screen and (max-width: 768px) {

  .speakers {
    max-width: 100%;
  }

  .speakers-title {
    padding: 3rem 0 0 1rem;
  }

  .speakers-div {
    padding-top: 1rem;
  }

  .speaker-box {
    margin: 0 1rem;
  }

  .speaker-img {
    width: 150px;
  }

  .purple {
    box-shadow: -10px -10px 0px 1px #C7B9EB;
  }
  
  .green {
    box-shadow: -10px -10px 0px 1px #A9B796;
  }

  .speaker-name {
    font-size: 1.25rem;
    text-align: center;
  }

  .speaker-title {
    display: none;
  }
}

.itinerary {
  max-width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.itinerary-mobile-img {
  display: none;
}

.itinerary-title {
  font-size: 1.75rem;
  font-weight: 300;
  padding: 3rem 0 0 3rem;
}

.itinerary-days {
  padding-top: 3rem;
}

.itinerary-day {
  background-color: #D0D7BD;
  border-radius: 1rem;
  margin-bottom: 3rem;
  width: fit-content;
}

.time-day {
  font-family: "League Spartan", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  padding: 3rem 0 1rem 2.5rem;
}

.time-date {
  font-family: "League Spartan", sans-serif;
  font-size: 1.75rem;
  font-weight: 200;
  padding: 3rem 0 1rem 1rem;
}

.timeline {
  list-style: none;
  margin: 2.5rem 0;
}

.timeline-item {
  display: flex;
  margin-bottom: 2rem;
  position: relative;
  padding: 0 1rem;
}

.short {
  width: 12rem;
}

.long {
  width: 25rem;
}

.timeline-item:first-of-type {
  margin-left: 2.5rem;
}

.timeline-item::before {
  content: "";
  width: 17.5px;
  height: 17.5px;
  background-color: #C7B9EB;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 15%;
  transform: translateY(-50%);
}

.timeline-item:not(:last-of-type)::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #C7B9EB;
  position: absolute;
  left: 5px;
  top: 15%;
}

.timeline-content {
  font-family: "League Spartan", sans-serif;
  width: 80%;
  position: relative;
  margin-top: 3.5rem;
  right: 0.6rem;
}

.timeline-time {
  font-weight: 400;
  padding: 1.5rem 0 0.75rem 0;
}

.timeline-event {
  font-weight: 200;
  padding-bottom: 0.75rem;
}

.timeline-location {
  font-weight: 200;
  line-height: 1.25rem;
}

@media only screen and (max-width: 768px) {

  .itinerary-title {
    padding: 3rem 0 1rem 0;
  }

  .itinerary-mobile-img {
    display: block;
    max-width: 100%;
    padding-bottom: 5rem;
  }
  
  .itinerary-days {
    display: none;
  }
}